.jsa__cta {
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.jsa__cta-content p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    color: #0E0E0E
} 

.jsa__cta-content h3 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 24px;
    line-height: 45px;
    color: #0E0E0E;
}

.jsa__cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.jsa__cta-btn button {
    background-color: #000000;
    color: #ffffff;
    border-radius: 40px;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    min-width: 150px;
}

@media screen and (max-width: 650px) {
    .jsa__cta {
        flex-direction: column;
    }
    .jsa__cta button {
        margin: 2rem 0 0;
    }
}

@media screen and (max-width: 550px) {
    .jsa__cta {
        margin: 4rem 2rem;

    }
    .jsa__cta-content h3{
        font-size: 18px;
        line-height: 32px;
    }
    .jsa__cta-btn button {
        font-size: 14px;
        line-height: 28px;
        
    }
}